---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero.svelte'

import Typewriter from '../components/typewriter'
import Features from '../components/features.vue'
---

<Layout title="RyanAfterDark - Home">
	<main class="dark:bg-black dark:text-white">
		<Hero>
			<Typewriter client:visible />
		</Hero>
		<Features />
	</main>
</Layout>

<style>

</style>
