---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero.svelte'
---

<Layout title="RyanAfterDark - Home">
	<main class="dark:bg-black dark:text-white">
		<Hero />
	</main>
</Layout>

<style>

</style>
